:root {
--main-color:#212121;
}
/* Body */
body {
font-family: 'Roboto', sans-serif;
color:var(--main-color);
font-weight: 400;
font-size: 14px;
line-height:1.17;
letter-spacing: 0.03em;
background:#FFFFFF;
}
/* A hover */
a {
text-decoration: none;
}

.link:hover {
color:#2196F3;
}
/* Hide H1 */
.visually-hidden {
    position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
  } 

/* Bg */
.bg {
background: #2F303A;
}
    
/* Header */
.header {
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}
/* Button */
.button {
cursor: pointer;
background: #2196F3;
}
.button:hover,:focus {
color:#2196F3;
}
.posluga {
font-weight: 700;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
}
/* WebStudio */
.logo {
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
color: #212121;
line-height: 31px;
}
/* Web */
.web {
color: #2196F3;
}
.stud{
color: #FFFFFF;
}
/* Студія */
.studio {
font-weight: 500;
}

/* Портфоліо */
.portfolio {
font-weight: 500;
}

/* Контакти */
.contacts {
font-weight: 500;
}

/* info@devstudio.com */
.address1 {
color: #808080;
font-weight: 500;
}

/* +38 096 111 11 11 */
.address2 {
color: #808080;
font-weight: 500;
}

.uvaga1 {
font-weight: 700;
text-transform: uppercase;
}

.uvaga2 {
line-height: 171%;
color: #757575;
}

/* Чим ми займаємося */

.chim {
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
}
/* img-1 */
.img-1 {

}
/* img-2 */
.img-2 {

}
/* img */
.img-3 {

}
/* Чим ми займаємося */
.command {

font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
}

/* Ul */
ul {
list-style: none;
    }

/* Наша команда */
.list1 {
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: center;
}

/* Box */
.box {

}

/* img-4 */
.img-4 {

}
/* member1 */
.member1 {

}
/* memberpos */
.memberpos {

}
/* Box-1 */
.box-1 {

}
/* img-5 */
.img-5 {

}
/* member2 */
.member2 {

}
/* memberpos-1 */
.memberpos-1 {

}
/* Box-2 */
.box-2 {

}
/* img-6 */
.img-6 {

}
/* member3 */
.member3 {

}
/* memberpos-2 */
.memberpos-2 {

}
/* Box-3 */
.box-3 {

}
 /* img-7 */
.img-7 {

}
/* member4 */
.member4 {

}
/* memberpos-3 */
.memberpos-3 {

}
/* Footer bg */
.footer {

background: #2F303A;       
}
.logo-1 {

}
/* м. Київ, пр-т Лесі Українки, 26 */
.addpos1 {
line-height: 24px;
/* or 171% */
font-weight: 500;
color: #FFFFFF;
font-style: normal;
}

/* info@devstudio.com */
.addpos2 {
line-height: 24px;
/* or 171% */
color: rgba(255, 255, 255, 0.6);
font-weight: 500;
font-style: normal;
}
/* +38 096 111 11 11 */
.addpos3 {
line-height: 24px;
/* or 171% */
color: rgba(255, 255, 255, 0.6);
font-weight: 500;
font-style: normal;
}
    
   
/* Portfolio */
.button2 {
cursor: pointer;
background: #F5F4FA;
font-weight: 500;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */
text-align: center;
}
.button2:hover {
background-color: #2196F3;
color: #FFFFFF;
}

/* List-item */
.projname {
font-weight: 700;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */
letter-spacing: 0.06em;
}
.description {
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */
    letter-spacing: 0.03em;
    color: #757575;
}